<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="landingPageStyle.css">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1 class="header__title">JacKr TreKr</h1>
                <input class="header__menu_btn" type="checkbox" id="header__menu_btn"/>
                <label class="header__menu_icon" for="header__menu_btn"><span class="header__nav_icon"></span></label>
                <class class="header__nav_list"></class>
                <ul class="header__nav_list">
                    <li class="header__nav_listItem"><a href="/continents">Continents</a></li>
                    <li class="header__nav_listItem"><a href="/regions">Regions</a></li>
                    <li class="header__nav_listItem"><a href="/treks">Treks</a></li>
                    <li class="header__nav_listItem"><a href="/types">Difficulty</a></li>
                    <li class="header__nav_listItem"><a href="#">About Us</a></li>
                </ul>
            </header>
            <main class="main">
                <section class="main__section_difficulty">
                    <button class="main__button_type" th:text="${type.difficulty}"><a th:href="@{/type(id=${type.id})}"></a></button>
                </section>
                <section class="main__section_worldMap">
                    <button class="main__button_continent" th:text="${continent.location}"><a th:href="@{/continent(id=${continent.id})}"></a></button>
                </section>
            </main>
            <footer class="footer">
                <a href="#"><img src="" alt="" class="footer__facebook_image"></a>
                <a href="#"><img src="" alt="" class="footer__twitter_image"></a>
                <a href="#"><img src="" alt="" class="footer__instagram_image"></a>
                <small class="copyright">&copy JacKr Enterprises 2021</small>
            </footer>
        </div>
    </body>
</html>