
* {
    font-family: sans-serif;
    text-align: center;
    line-height: 1.618em;
  }

  .container { 
    background: gray;
    border: 5px solid grey;
    border-radius: 25px;
    padding: 100px;
    margin: 100px;
    width: 10em;
}

  h2{
      margin-top: 0px;
      font-weight: 800;
  }
  

  #images{
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
  }


  html{
    background-image: linear-gradient(to right top, #d3dacb, #c1caaf, #b1ba92, #a4a975, #989858);
  }


p{
  font-weight: bold;
  align-content: center;
  margin-bottom: 120px;
}

.profiles{
  height: -10em;
  display: flex;
  align-content: center;
}

