
* {
    font-family: sans-serif;
    text-align: center;
    line-height: 1.618em;
  }

  h2{
      margin-top: 0px;
      font-weight: 800;
  }
  
  html{
    background-image: linear-gradient(to right top, #d3dacb, #c1caaf, #b1ba92, #a4a975, #989858);
  }

.container { 
    background: gray;
    border: 5px solid grey;
    border-radius: 25px;
    padding: 100px;
    margin: 100px;
    width: 10em;
}

p{
  font-weight: bold;
  align-content: center;
  margin-bottom: 120px;
}

.profiles{
  height: -10em;
  display: flex;
  align-content: center;
}

