@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    background-color: white;
}

.container {
background: #ece3d3;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 4rem;
  text-align: center;
}

.title {
  background: #ece3d3;
  color: black;
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 7px;
  margin-bottom: 2rem;
  padding-top: 10rem;
  padding-bottom: .5em;
  text-align: center;
}

h2 {
  color: black;
  font-size: 5rem;
  font-weight: 400;
  padding: auto;
}

img {
  height: 250px;
  width: 250px;
}

.imgs {

  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

}

p {
  font-size: 2rem;
  color:black;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}

.button {
  display: inline-block;
  padding: 1rem;
  background: #f6f6f6;
  font-size: 2rem;
  text-decoration: none;
  color: #006400;
  border-radius: 10px;
  transition: background 0.5s;
}

.button:hover {
  background: #dadada;
}
