<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:region="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/headerfooterstyle.css">
    <link rel="stylesheet" href="/defaultStyle.css">
    <title th:text="${continentModel.location}"></title>
</head>
<body>
    <header class="header">
        <a href="http://localhost:8080/"><h1 class="header__title">JacKr TreKr</h1></a>
        <input class="header__menu_btn" type="checkbox" id="header__menu_btn"/>
        <label class="header__menu_icon" for="header__menu_btn"><span class="header__nav_icon"></span></label>
        <ul class="header__nav_list">
            <li class="header__nav_listItem"><a href="/continents">Continents</a></li>
            <li class="header__nav_listItem"><a href="/regions">Regions</a></li>
            <li class="header__nav_listItem"><a href="/treks">Treks</a></li>
            <li class="header__nav_listItem"><a href="/types">Difficulty</a></li>
            <li class="header__nav_listItem"><a href="/aboutUs.html">About Us</a></li>
        </ul>
    </header>
<main>
    <h2 th:text="${continentModel.location}"></h2>
    <h2 class="" th:each="region:${continentModel.regions}"><a th:href="@{'/regions/' + ${region.location}}" th:text="${region.location}"></a></h2>
</main>
<footer class="footer">
    <section class="footer__section_social">
        <a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.png" alt="Facebook Icon" class="footer__image"></a>
        <a href="https://twitter.com/" target="_blank"><img src="/images/twitter.png" alt="Twitter Icon" class="footer__image"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram.png" alt="Instagram Icon" class="footer__image"></a>
    </section>
    <section class="footer__section_copy">
        <h4 class="footer__section_text">Vincit Qui Se Vincit</h4>
        <h4 class="footer__section_textEnglish">You conquer who conquers yourself.</h4>
        <small class="copyright">&copy JacKr Enterprises 2021</small>
    </section>
</footer>
</body>
</html>