<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="continentsStyle.css"/>
    <link rel="stylesheet" href="headerfooterstyle.css">
    <title>Continents</title>
</head>
<body>
<header class="header">
    <h1 class="header__title">JacKr TreKr</h1>
    <nav class="header__nav">
        <ul class="header__nav_list">
            <li class="header__nav_listItem"><a href="/continents">Continents</a></li>
            <li class="header__nav_listItem"><a href="/regions">Regions</a></li>
            <li class="header__nav_listItem"><a href="/treks">Treks</a></li>
            <li class="header__nav_listItem"><a href="/types">Difficulty</a></li>
            <li class="header__nav_listItem"><a href="aboutUs.html">About Us</a></li>
        </ul>
    </nav>
</header>
<main>
<h1>Continents</h1>
<h2 class="section" th:each="continent:${continentsModel}"><a th:href="@{'/continents/' + ${continent.location}}"
                                              th:text="${continent.location}">
    Continent </a></h2>
</main>
<footer class="footer">
    <section class="footer__section_social">
        <a href="#"><img src="/images/facebook.png" alt="" class="footer__image"></a>
        <a href="#"><img src="/images/twitter.png" alt="" class="footer__image"></a>
        <a href="#"><img src="/images/instagram.png" alt="" class="footer__image"></a>
    </section>
    <section class="footer__section_copy">
        <small class="copyright">&copy JacKr Enterprises 2021</small>
    </section>
</footer>
</body>
</html>