<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="headerfooterstyle.css">
        <link rel="stylesheet" href="landingPageStyle.css">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <h1 class="header__title">JacKr TreKr</h1>
                <input class="header__menu_btn" type="checkbox" id="header__menu_btn"/>
                <label class="header__menu_icon" for="header__menu_btn"><span class="header__nav_icon"></span></label>
                <class class="header__nav_list"></class>
                <ul class="header__nav_list">
                    <li class="header__nav_listItem"><a href="/continents">Continents</a></li>
                    <li class="header__nav_listItem"><a href="/regions">Regions</a></li>
                    <li class="header__nav_listItem"><a href="/treks">Treks</a></li>
                    <li class="header__nav_listItem"><a href="/types">Difficulty</a></li>
                    <li class="header__nav_listItem"><a href="AboutUs.html">About Us</a></li>
                </ul>
            </header>
            <main class="main">
                <h2 class="main__section_typeTitle">Difficulties:</h2>
                <section class="main__section_type">
                    <button class="main__button_type" th:each="trek: ${treksModel}"><a th:href="@{/trek(id=${trek.id})}" th:text="${trek.type}"></a></button>
                </section>
                <section class="main__section_continent">
                    <h2 class="main__section_continentTitle">Continents to Choose From:</h2>
                    <button class="main__button_continent" th:each="continent: ${continentsModel}"><a th:href="@{/continent(id=${continent.id})}" th:text="${continent.location}"></a></button>
                </section>
            </main>
            <footer class="footer">
                <section class="footer__social">
                    <a href="#"><img src="/images/facebook.svg" alt="Facebook Icon" class="footer__social_image"></a>
                    <a href="#"><img src="/images/twitter.svg" alt="Twitter Icon" class="footer__social_image"></a>
                    <a href="#"><img src="/images/instagram.png" alt="Instagram Icon" class="footer__social_image"></a>
                </section>
                <section class="footer__copy">
                    <small class="copyright">&copy JacKr Enterprises 2021</small>
                </section>
            </footer>
        </div>
    </body>
</html>