<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JacKr TreKr</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="headerfooterstyle.css">
        <link rel="stylesheet" href="indexStyle.css">
    </head>
    <body>
        <div class="container">
            <header class="header">
                <a href="http://localhost:8080/"><h1 class="header__title">JacKr TreKr</h1></a>
                <input class="header__menu_btn" type="checkbox" id="header__menu_btn"/>
                <label class="header__menu_icon" for="header__menu_btn"><span class="header__nav_icon"></span></label>
                <ul class="header__nav_list">
                    <li class="header__nav_listItem"><a href="/continents">Continents</a></li>
                    <li class="header__nav_listItem"><a href="/regions">Regions</a></li>
                    <li class="header__nav_listItem"><a href="/treks">Treks</a></li>
                    <li class="header__nav_listItem"><a href="/types">Difficulty</a></li>
                    <li class="header__nav_listItem"><a href="aboutUs.html">About Us</a></li>
                </ul>
            </header>
            <main class="main">
                <h2 class="main__welcome_header">Welcome!</h2>
                <p class="main__welcome_text">Here at JacKr TreKr, we specialize in finding the right trek for you. Whether you're just beginning your trekking journey or you've been trekking your entire life, or if you just happen to find yourself in a new countinent, we can help you find a trek that's right for you. Happy Trekking!</p>
                <h2 class="main__section_header">Choose Your Difficulty Level:</h2>
                <section class="main__section_difficulty">
                    <button class="main__button_type" th:each="type:${typesModel}"><a th:href="@{'/types/' + ${type.difficulty}}" th:text="${type.difficulty}"></a></button>
                </section>
                <p class="main__between_section">or</p>
                <h2 class="main__continent_header">Choose the Continent You Wish to Trek:</h2>
                <section class="main__section_continents">
                    <button class="main__button_continent" th:each="continent:${continentsModel}"><a th:href="@{'/continents/' + ${continent.location}}" th:text="${continent.location}"></a></button>
                </section>
                <section class="main__section_map">
                    <div class="main__map_column">
                        <a href="http://localhost:8080/continents/North%20America"><img src="/images/north-america.jpg" alt="North America" class="map_image"></a>
                        <a href="http://localhost:8080/continents/North%20America"><div class="main__column_overlay">North America</div></a>
                    </div>
                    <div class="main__map_column">
                        <a href="http://localhost:8080/continents/Europe"><img src="/images/europe.jpg" alt="Europe" class="map_image"></a>
                        <a href="http://localhost:8080/continents/Europe"><div class="main__column_overlay">Europe</div></a>
                    </div>
                    <div class="main__map_column">
                        <a href="http://localhost:8080/continents/Asia"><img src="/images/asia.jpg" alt="Asia" class="map_image"></a>
                        <a href="http://localhost:8080/continents/Asia"><div class="main__column_overlay">Asia</div></a>
                    </div>
                    <div class="main__map_column">
                        <a href="http://localhost:8080/continents/South%20America"><img src="/images/south-america.jpg" alt="South America" class="map_image"></a>
                        <a href="http://localhost:8080/continents/South%20America"><div class="main__column_overlay">South America</div></a>
                    </div>
                    <div class="main__map_column">
                        <a href="http://localhost:8080/continents/Africa"><img src="/images/africa.jpg" alt="Africa" class="map_image"></a>
                        <a href="http://localhost:8080/continents/Africa"><div class="main__column_overlay">Africa</div></a>
                    </div>
                    <div class="main__map_column">
                        <a href="http://localhost:8080/continents/Australia"><img src="/images/oceania.jpg" alt="Australia" class="map_image"></a>
                        <a href="http://localhost:8080/continents/Australia"><div class="main__column_overlay">Australia</div></a>
                    </div>
                    <div class="main__map_columnAll">
                        <a href="http://localhost:8080/continents/Antarctica"><img src="/images/antartica.jpg" alt="Antartica" class="map_image"></a>
                        <a href="http://localhost:8080/continents/Antarctica"><div class="main__column_overlay">Antarctica</div></a>
                    </div>
                </section>
            </main>
            <footer class="footer">
                <section class="footer__section_social">
                    <a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.png" alt="Facebook Icon" class="footer__image"></a>
                    <a href="https://twitter.com/" target="_blank"><img src="/images/twitter.png" alt="Twitter Icon" class="footer__image"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram.png" alt="Instagram Icon" class="footer__image"></a>
                </section>
                <section class="footer__section_copy">
                    <h4 class="footer__section_text">Vincit Qui Se Vincit</h4>
                    <h4 class="footer__section_textEnglish">You conquer who conquers yourself.</h4>
                    <small class="copyright">&copy JacKr Enterprises 2021</small>
                </section>
            </footer>
        </div>
    </body>
</html>