<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="headerfooterstyle.css">
    <link rel="stylesheet" href="defaultStyle.css">
    <title>Types</title>
</head>
<body>
<header class="header">
    <a href="http://localhost:8080/"><h1 class="header__title">JacKr TreKr</h1></a>
    <input class="header__menu_btn" type="checkbox" id="header__menu_btn"/>
    <label class="header__menu_icon" for="header__menu_btn"><span class="header__nav_icon"></span></label>
    <ul class="header__nav_list">
        <li class="header__nav_listItem"><a href="/continents">Continents</a></li>
        <li class="header__nav_listItem"><a href="/regions">Regions</a></li>
        <li class="header__nav_listItem"><a href="/treks">Treks</a></li>
        <li class="header__nav_listItem"><a href="/types">Difficulty</a></li>
        <li class="header__nav_listItem"><a href="aboutUs.html">About Us</a></li>
    </ul>
</header>
<main>
<h2>Difficulty</h2>
<h2 th:each="type:${typesModel}"><a th:href="@{'/types/' + ${type.difficulty}}" th:text="${type.difficulty}">
    </a></h2>
<h4><a href="typesoftreks.html">Click Here For Help Choosing A Difficulty Level</a></h4>
</main>
<footer class="footer">
    <section class="footer__section_social">
        <a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.png" alt="Facebook Icon" class="footer__image"></a>
        <a href="https://twitter.com/" target="_blank"><img src="/images/twitter.png" alt="Twitter Icon" class="footer__image"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram.png" alt="Instagram Icon" class="footer__image"></a>
    </section>
    <section class="footer__section_copy">
        <p class="footer__section_text">Vincit Qui Se Vincit</p>
        <small class="copyright">&copy JacKr Enterprises 2021</small>
    </section>
</body>
</html>